  <!-- <div class="portTitle center-align">My Cool Project</div> -->
  <h2 class="portTitle left-align">My Cool Projects...</h2>
  <div class="portfoliowrapper">
    <div data-target="portven" class="portfolio-item medium venuelyst hoverable z-depth-3 modal-trigger" href="#portven">Venuelyst</div>
    <div class="portfolio-item large pvrty hoverable z-depth-5 modal-trigger" href="#portpar">PVRTY</div>
    <div class="portfolio-item medium croozen hoverable z-depth-3 modal-trigger" href="#portcoz">Croozen</div>
    <div class="portfolio-item small postablur hoverable z-depth-1 modal-trigger" href="#portpos">Postablur</div>
    <div class="portfolio-item tall bubble hoverable z-depth-4 modal-trigger" href="#portbub">Bubble Bazooka</div>
    <div class="portfolio-item wide IAT hoverable z-depth-2 modal-trigger" href="#portiat"> IAT Mobile</div>
  </div>

  <div class="footer">
    <app-portfoot></app-portfoot>
  </div>

  <div id="portven" class="modal modal-fixed-footer hoverable">
    <div class="modal-content">
      <h4 class="title">Venuelyst</h4>
      <div class="picture"></div>
      <p class="description">Venuelyst helps renters find nearby venues to host small company parties to grand wedding events.</p>
      <a class="link" href="https://itunes.apple.com/us/app/venuelyst/id1259662717?mt=8"> Link Here</a>
    </div>
    <div class="modal-footer">
      <a class="modal-action modal-close waves-effect waves-teal btn-flat hoverable">Nice!</a>
    </div>
  </div>

  <div id="portpar" class="modal modal-fixed-footer hoverable">
    <div class="modal-content">
      <h4 class="title">PVRTY</h4>
      <div class="picture"></div>
      <p class="description">Coming soon.</p>
      <a class="link" routerLink="portfolio"> Link Here</a>
    </div>
    <div class="modal-footer">
      <a class="modal-action modal-close waves-effect waves-teal btn-flat hoverable">Nice!</a>
    </div>
  </div>

  <div id="portcoz" class="modal modal-fixed-footer hoverable">
    <div class="modal-content">
      <h4 class="title">Croozen</h4>
      <div class="picture"></div>
      <p class="description">Croozen caters to users that are travelling to a specific destination and are willing to share car space.</p>
      <a class="link" href="https://itunes.apple.com/us/app/croozen/id1183012975?mt=8" > Link Here</a>
    </div>
    <div class="modal-footer">
      <a class="modal-action modal-close waves-effect waves-teal btn-flat hoverable">Nice!</a>
    </div>
  </div>

  <div id="portpos" class="modal modal-fixed-footer hoverable">
    <div class="modal-content">
      <h4 class="title">Postablur</h4>
      <div class="picture"></div>
      <p class="description">A new way to instagram, get reimbursed for your posts.</p>
      <a class="link" href="portofolio"> Link Here</a>
    </div>
    <div class="modal-footer">
      <a class="modal-action modal-close waves-effect waves-teal btn-flat hoverable">Nice!</a>
    </div>
  </div>

  <div id="portbub" class="modal modal-fixed-footer hoverable">
    <div class="modal-content">
      <h4 class="title">Bubble Bazooka</h4>
      <div class="picture"></div>
      <p class="description">Stress relieving game built to kill time, birds and anxiety.</p>
      <a class="link" href="https://itunes.apple.com/us/app/bubble-bazooka/id1130152390?mt=8&ign-mpt=uo%3D2"> Link Here</a>
    </div>
    <div class="modal-footer">
      <a class="modal-action modal-close waves-effect waves-teal btn-flat hoverable">Nice!</a>
    </div>
  </div>

  <div id="portiat" class="modal modal-fixed-footer hoverable">
    <div class="modal-content">
      <h4 class="title">IAT Mobile</h4>
      <div class="picture"></div>
      <p class="description">IATSMS is an innovative SMS application built for companies that use CRM.</p>
      <a class="link" href="https://itunes.apple.com/us/app/iatsms/id991067419?mt=8" > Link Here</a>
    </div>
    <div class="modal-footer">
      <a class="modal-action modal-close waves-effect waves-teal btn-flat hoverable">Nice!</a>
    </div>
  </div>
