

  <div class="resumewrapper">
    <mat-card class="card">
      <mat-card-header>
        <div mat-card-avatar class="card-header-image"></div>
        <mat-card-title>Aaron Anderson</mat-card-title>
        <mat-card-subtitle>Software Engineer</mat-card-subtitle>
      </mat-card-header>
        <img mat-card-image src="./assets/whitepropic.jpg" alt="" height="auto">
      <mat-card-content>
        <h2>Skills</h2>
        <p>
          Expertise in iPhone and Android application development.
          <br>
          <br>
          My Experience includes Swift 4, Java, Kotlin, Python, MVC design, Core Data, SQL, AWS, Firebase, Parse-server,
          Redis, MongoDB, HTML, jQuery, Bootstrap, JavaScript, Angular.js, Angular Material, Node.js, APIs, Web Design and UI/UX design.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <a class="waves-effect waves-light btn resumeLink" href="./assets/AaronSecond.pdf" download="Aaron Anderson's Resume.pdf">Download Resume</a>
      </mat-card-actions>
    </mat-card>
  </div>

  <div class="footer">
    <app-portfoot></app-portfoot>
  </div>
