<div class="sitewrapper">
  <div class="header">
    <div class="profile">
      <img src="./assets/whitepropic.jpg" alt="" id="profileImage" width="225px" height="225px">
      <div class="profileName">Aaron Anderson</div>
      <div class="profileTitle">iOS Developer</div>
    </div>
  </div>

  <div class="middle card">
    <div class="bodyTitle">
      <h3>Intro</h3>
    </div>
    <div class="bodyDescription">
      <p>Welcome to my page. My name is Aaron and I have been developing mobile applications for 4+ years. Besides long walks on the beach, I enjoy building on new projects.
        Problem solving and architecture design are my best areas. My latest projects utilizes Angular, Python and MongoDB. If you would like to see more...<a class="pLink" routerLink="portfolio">click here</a>.
        I started with a degree in psychology and 4 years later found myself inspired to write code until I accomplish great feats lol. My passion has really become apparent through
        my works. I'm dedicated to making amazing projects and expanding my skills as a programmer.
      </p>
    </div>
  </div>

  <div class="footer">
    <app-portfoot></app-portfoot>
  </div>
</div>
